{% load static %}
<footer class="bg-primary-gradient">
    <div class="container py-4 py-lg-5">
        <div class="row justify-content-center">
            <div class="col-sm-6 col-md-4 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 fw-bold">Services</h3>
                <ul class="list-unstyled">
                    <li>Web design</li>
                    <li>Development</li>
                    <li>Deployment</li>
                    <li>Hosting</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-5 text-center text-lg-start d-flex flex-column item">
                <h3 class="fs-6 fw-bold">About</h3>
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}#background">Background</a></li>
                    <li><a href="{% url 'about' %}#motives">Objectives</a></li>
                    <li><a href="{% url 'about' %}#experience">Experiences</a></li>
                    <li><a href="{% url 'leave_review' %}">Leave a Review</a></li>
                </ul>
            </div>
            <div class="col-lg-3 text-center text-lg-start d-flex flex-column align-items-center order-first align-items-lg-start order-lg-last item social">
                <div class="fw-bold d-flex align-items-center mb-2">
                    <span class="bs-icon-sm bs-icon-circle ml-2">
                        <img src="{% static 'img/JO logo.png' %}" alt="Logo" height="60">
                    </span>
                </div>
                <p class="text-muted copyright">Self driven, hardworking full-stack developer.</p>
            </div>
        </div>
        <hr>
        <div class="text-muted d-flex justify-content-between align-items-center pt-3">
            <p class="mb-0"><a href="http://vstech.live" class="text-muted nav-link">&copy;vstech limited 2022</a></p>
            <ul class="list-inline mb-0">
                <li class="list-inline-item"><a href="mailto:info@odhiambo-jeff.me"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://www.linkedin.com/in/jeff-odhiambo/"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://github.com/killall-nano"><i class="fab fa-github-alt" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/Jeff18309725"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </div>
</footer>