{% load static %}
<nav class="navbar navbar-light navbar-expand-md sticky-top navbar-shrink py-3" id="mainNav">
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <span class="bs-icon-sm bs-icon-circle ml-2">
                <img src="{% static 'img/JO logo.png' %}" alt="Logo" height="60">
            </span>
        </a>
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About me</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contacts</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'resume:resume' %}">Resume</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'portfolio:portfolio' %}">Portfolio</a></li>
            </ul><a class="btn btn-primary shadow" role="button" href="mailto:info@odhiambo-jeff.me">Hire me</a>
        </div>
    </div>
</nav>