{% extends 'base.html' %}
{% load static %}

{% block title %}Portfolio{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Portfolio</p>
            <h3 class="fw-bold">My Portfolio</h3>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 mx-auto" style="max-width: 900px;">
        <div class="col mb-5">
            <img class="rounded img-fluid shadow" src="{% static 'assets/img/products/3.jpg' %}">
        </div>
        <div class="col d-md-flex align-items-md-end align-items-lg-center mb-5">
            <div>
                <h5 class="fw-bold">Lorem ipsum dolor sit&nbsp;</h5>
                <p class="text-muted mb-4">Erat netus est hendrerit, nullam et quis ad cras porttitor iaculis. Bibendum vulputate cras aenean.</p>
                <button class="btn btn-primary shadow" type="button">Learn more</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}