{% extends 'base.html' %}
{% load static %}

{% block title %}Resume{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Resume</p>
            <h3 class="fw-bold">My Resume</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="text-muted mb-4">I am a software developer with a passion for building web applications. I have experience in building web applications using Python, Django, JavaScript, React, HTML, CSS, Bootstrap, and TailwindCSS. I have also worked with databases such as PostgreSQL, MySQL, and SQLite. I am also familiar with version control using Git and GitHub. I am currently looking for a job as a software developer.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Skills</p>
            <h3 class="fw-bold">My Skills</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="text-muted mb-4">I have experience in building web applications using Python, Django, JavaScript, React, HTML, CSS, Bootstrap, and TailwindCSS. I have also worked with databases such as PostgreSQL, MySQL, and SQLite. I am also familiar with version control using Git and GitHub. I am currently looking for a job as a software developer.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Education</p>
            <h3 class="fw-bold">My Education</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="text-muted mb-4">I have experience in building web applications using Python, Django, JavaScript, React, HTML, CSS, Bootstrap, and TailwindCSS. I have also worked
                with databases such as PostgreSQL, MySQL, and SQLite. I am also familiar with version control using Git and GitHub. I am currently looking for a job as a software developer.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-xl-6 text-center mx-auto">
            <p class="fw-bold text-success mb-2">Experience</p>
            <h3 class="fw-bold">My Experience</h3>
        </div>
</div>

{% endblock %}