{% extends 'base.html' %}
{% load static %}

{% block title %}Resume{% endblock %}

{% block content %}
<h1 class="fw-bold text-secondary mt-5 text-center">Resume</h1>
{% include 'partials/profile.html' %}
<div class="container-fluid px-5">
    <div class="row justify-content-center">
        <div class="col-md-12 col-lg-6">
            <h2 class="fw-bold  text-uppercase">EDUCATION</h2>
            <p class="text-muted mb-5">Education</p>
            {% if education %}
                {% for edu in education %}
                <div class="col-lg-12 p-2">
                    <div class="d-flex align-items-center">
                        {% if edu.institution_logo %}
                            <div class="">
                                <a href=""><img src="{{edu.institution_logo.url}}" height="80" alt="{{edu.institution}}"></a>
                            </div>
                        {% endif %}
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between"><h3 class="text-primary">{{edu.course}}</h3><small>{% if edu.date_completed %}Completed: {{edu.date_completed}}{% else %}Expected: {{edu.expected_grad_date.year}}, {{edu.expected_grad_date.year}}{% endif %}</small></div>
                            <div class="d-flex align-items-center justify-content-between"><h4>{{edu.institution}}</h4><small>{{edu.institution_city}}</small></div>
                        </div>
                    </div>
                    <h5 class="my-2">Related Course work:</h5>
                    <p>{{edu.related_course_work}}</p>
                    {% if edu.certificate_url %}
                        <a href="{{edu.certificate_url}}" class="btn btn-outline-dark btn-sm">Certificate <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                    {% endif %}
                </div>
                {% endfor %}
            {% endif %}
            <h3 class="fw-bold text-uppercase my-5">skills</h3>
            <p class="text-secondary mb-2 fw-bold">skills</p>
            <table class="table table-primary">
                <thead class="fw-bold text-dark">
                    <td>Programming Languages</td>
                    <td>Tools & Softwares</td>
                    <td>Frameworks</td>
                </thead>
                <tbody class="teble table-light">
                    <tr>
                        <td>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum
                        </td>
                        <td>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-12 col-lg-6">
            <h3 class="fw-bold text-uppercase">Experiences & Projects</h3>
            <p class="text-secondary mb-5 fw-bold">Projects</p>
            <div class="col-lg-12 p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Project name - <span class="text-muted small">Company</span></h3><small>Nov 2022</small>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum, quibusdam voluptas facilis iste commodi harum quisquam, tenetur sunt fugit a molestiae dolorem fuga!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit officiis veritatis nostrum alias exercitationem esse harum delectus aliquam? Ea deserunt incidunt corporis nisi error nam, facilis omnis in quos!
                </p>
                <a href="" class="btn btn-dark btn-sm m-2">Github <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="" class="btn btn-outline-dark btn-sm m-2">Live <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-12 p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Project name - <span class="text-muted small">Company</span></h3><small>Nov 2022</small>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum, quibusdam voluptas facilis iste commodi harum quisquam, tenetur sunt fugit a molestiae dolorem fuga!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit officiis veritatis nostrum alias exercitationem esse harum delectus aliquam? Ea deserunt incidunt corporis nisi error nam, facilis omnis in quos!
                </p>
                <a href="" class="btn btn-dark btn-sm m-2">Github <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="" class="btn btn-outline-dark btn-sm m-2">Live <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <div class="col-lg-12 p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Project name - <span class="text-muted small">Company</span></h3><small>Nov 2022</small>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum, quibusdam voluptas facilis iste commodi harum quisquam, tenetur sunt fugit a molestiae dolorem fuga!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit officiis veritatis nostrum alias exercitationem esse harum delectus aliquam? Ea deserunt incidunt corporis nisi error nam, facilis omnis in quos!
                </p>
                <a href="" class="btn btn-dark btn-sm m-2">Github <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <a href="" class="btn btn-outline-dark btn-sm m-2">Live <i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
            <p class="text-secondary my-4 fw-bold">Experiences</p>
            <div class="col-lg-12 p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Company - <span class="text-muted small">Role</span></h3><small>Nov 2022 - Current</small>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum, quibusdam voluptas facilis iste commodi harum quisquam, tenetur sunt fugit a molestiae dolorem fuga!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit officiis veritatis nostrum alias exercitationem esse harum delectus aliquam? Ea deserunt incidunt corporis nisi error nam, facilis omnis in quos!
                </p>
            </div>
            <div class="col-lg-12 p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Company - <span class="text-muted small">Role</span></h3><small>Nov 2022 - Current</small>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum, quibusdam voluptas facilis iste commodi harum quisquam, tenetur sunt fugit a molestiae dolorem fuga!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit officiis veritatis nostrum alias exercitationem esse harum delectus aliquam? Ea deserunt incidunt corporis nisi error nam, facilis omnis in quos!
                </p>
            </div>
            <div class="col-lg-12 p-2">
                <div class="d-flex align-items-center justify-content-between">
                    <h3 class="text-primary">Company - <span class="text-muted small">Role</span></h3><small>Nov 2022 - Current</small>
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus totam in at iusto sint delectus laborum, quibusdam voluptas facilis iste commodi harum quisquam, tenetur sunt fugit a molestiae dolorem fuga!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium suscipit officiis veritatis nostrum alias exercitationem esse harum delectus aliquam? Ea deserunt incidunt corporis nisi error nam, facilis omnis in quos!
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}